.wishlist-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display 4 items per row */
  gap: 20px; /* Space between items */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 1.5px solid rgba(225, 225, 225, 0.18);
  
}

.wishlist-card-college {
  grid-column: span 4; /* Make college name span across all 4 columns */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.wishlist-card-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  
}

.wishlist-card-img img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wishlist-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.wishlist-card-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.wishlist-card-actions button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
}

.wishlist-card-actions button:hover {
  background-color: #e6b800;
}
